<h3><%= question.questionprompt %></h3>
<div class="form-check">
  <input
    class="form-check-input"
    type="radio"
    value="First option"
    name="<%= question.questionid %>"
    id="<%= question.questionid %>1"
  />
  <label class="form-check-label" for="<%= question.questionid %>1"
    >First option</label
  >
</div>
<div class="form-check">
  <input
    class="form-check-input"
    type="radio"
    value="Second option"
    name="<%= question.questionid %>"
    id="<%= question.questionid %>2"
  />
  <label class="form-check-label" for="<%= question.questionid %>2"
    >Second option</label
  >
</div>
