<!DOCTYPE html>
<html>
  <head>
    <%- include ("../partials/header.ejs") %>
  </head>

  <body>
    <%- include ("../partials/nav.ejs") %>

    <div class="container">
      <h2>Surveys</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Survey ID</th>
            <th scope="col">Survey Name</th>
            <th scope="col">Surveyor</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% surveys.forEach(function(row) { %>
          <tr>
            <th scope="row"><%= row.surveyid %></th>
            <td><%= row.surveyname %></td>
            <td><%= row.username %></td>
            <td>
              <% if (row.isopen) { %>
              <span class="label label-success">Open</span>
              <% } else { %>
              <span class="label label-default">Closed</span>
              <% }; %>
            </td>
            <td>
              <% if (row.isopen) { %>
              <a
                href="/surveys/<%= row.surveyid %>"
                class="btn btn-success"
                role="button"
                >Start</a
              >
              <a
                id="<%= row.surveyid %>"
                onclick="closeSurvey(this.id)"
                class="btn btn-danger"
                role="button"
                >Close Survey</a
              >
              <% } else { %>
              <a
                href="/surveys/<%= row.surveyid %>/results"
                class="btn btn-primary"
                role="button"
                >View Results</a
              >
              <% }; %>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
    <script>
      function closeSurvey(surveyId) {
        $.ajax({
          url: `/surveys/${surveyId}`,
          type: "PATCH",
          data: {
            isOpen: false,
          },
          success: function (res) {
            location.reload();
          },
        });
      }
    </script>
  </body>
</html>
