<!DOCTYPE html>
<html>
  <head>
    <%- include ("../partials/header.ejs") %>
  </head>

  <body>
    <%- include ("../partials/nav.ejs") %>

    <div class="container">
      <h2>Surveys</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Survey ID</th>
            <th scope="col">Survey Name</th>
            <th scope="col">Surveyor</th>
            <th scope="col">Is Open?</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% surveys.forEach(function(row) { %>
          <tr>
            <th scope="row"><%= row.surveyid %></th>
            <td><%= row.surveyname %></td>
            <td><%= row.username %></td>
            <td><%= row.isopen %></td>
            <td>
              <a
                href="/surveys/<%= row.surveyid %>"
                class="btn btn-primary"
                role="button"
                >Start</a
              >
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </body>
</html>
